openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  title: 'API di pn-paper-tracker esposte ad altri microservizi'
  x-summary: 'API di pn-paper-tracker esposte ad altri microservizi'
  x-api-id: api-internal-pn-paper-tracker
  version: '1.0.0'
  description: >- 
    Da fare

  contact:
    email: pn@pagopa.it
servers:
- url: https://api.pn.pagopa.it
  description: Ambiente di produzione
- url: https://api.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://api.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del microservizio
  - name: LegalFacts
    description: >-
      Recupero degli atti opponibili a terzi generati per una notifica
  - name: NotificationCancellation
    description: >-
      Annullamento di una notifica

paths:
  '/status':
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
          
  '/paper-tracker/tracker/{requestId}':
    post:
      summary: Inserimento tracker
      description: >-
        Permette l'inserimento di un evento di tracking restituendo l'entità creata
      tags:
        - TrackingCreation
      operationId: trackingCreation
      parameters:
        - $ref: '#/components/parameters/requestId'
        - $ref: '#/components/parameters/deliveryDriverId'
      responses:
        '201':
          description: Created - Tracker created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackerCreationResponse"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  parameters:
    requestId:
      description: >-
        Request id
      name: requestId
      in: path
      required: true
      schema:
        type: string
        # ASCII printable characters
        pattern: ^[ -~]*$
        maxLength: 1024
    deliveryDriverId:
      description: >-
        Id del recapitista
      name: deliveryDriverId
      in: query
      required: true
      schema:
        type: string
        # ASCII printable characters
        pattern: ^[ -~]*$
        maxLength: 1024
        
  schemas:
    TrackerCreationResponse:
      type: object
      properties:
        requestId:
          type: string
          description: Identificativo singola richiesta per spedizione analogica
          example: "PREPARE_ANALOG_DOMICILE.IUN_LKHJ-HKGV-HQUP-202402-Q-1.RECINDEX_0.ATTEMPT_0.PCRETRY_0"
        productType:
          type: string
          description: Tipo prodotto
          example: "AR"
        deliveryDriverId:
          type: string
          description: Id recapitista
      required:
        - requestId
        - productType
        - deliveryDriverId